<!DOCTYPE html>

<body >
	<div>
		<ul class="breadcrumb">
          <li><a href='#contributor'>Your information</a></li>
          <li><a href='#subject'>Subject information</a></li>
          <li class='active'><b>Appearance</b></li>
          <li>Warrants</li>
          <li>Judgments</li>
          <li>Criminal history</li>
          <li>Review & Submit</li>
	    </ul>
	</div>
	<h1 class='text-success'>Physical Appearance</h1>
	<hr>
	<form name='form' novalidate>
		<div class='row'>
			<div class='col-xs-12 col-sm-6'>
				<div class='form-group'>
					<label for='race'>Race</label>
					<span ng-show='(form.race.$touched && form.race.$invalid) || (form.$submitted && form.race.$invalid)' class='text-danger'>Required</span>
					<select name='race' ng-model='race' class='form-control input-sm' required>
						<option ng-repeat='r in races.content' value='{{r}}'>{{r}}</option>
					</select>
				</div>
			</div>

			<div class='col-xs-12 col-sm-6'>
				<div class='form-group'>
					<label for='nationality'>Nationality</label>
					<span ng-show='(form.nationality.$touched && form.nationality.$invalid) || (form.$submitted && form.nationality.$invalid)' class='text-danger'>Required</span>
					<input type='text' name='nationality' ng-model='nationality' class='form-control input-sm' required maxlength='30'>
				</div>
			</div>
		</div>

		<div class='row'>
			<div class='col-xs-12 col-sm-6'>
				<div class='form-group'>
					<label for='height'>Height</label>
						<select name='height' id='height' ng-model='height' class='form-control input-sm'>
							<option ng-repeat='h in heights' value='{{h}}'>{{Math.floor(h/12)}}' {{h%12}}" | {{Math.floor(h*2.54)}} cm</option>
						</select>
				</div>
			</div>

			<div class='col-xs-12 col-sm-6'>
				<div class='form-group'>
					<label for='weight'>Weight</label>
					<select name='weight' ng-model='weight' class='form-control input-sm'>
						<option ng-repeat='w in weights' value='{{w}}'>{{w}} lbs | {{Math.floor(w*0.453592)}} kg</option>
					</select>
				</div>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-xs-12 col-sm-6'>
				<div class='form-group'>
					<label for='hair_color'>Hair Color</label>
					<span ng-show='(form.hair_color.$touched && form.hair_color.$invalid) || (form.$submitted && form.hair_color.$invalid)' class='text-danger'>Required</span>
					<select name='hair_color' ng-model='hair_color' class='form-control input-sm' required>
						<option ng-repeat='hair_color in hair_colors.content' value='{{hair_color}}'>{{hair_color}}</option>
					</select>
				</div>
			</div>	

			<div class='col-xs-12 col-sm-6'>
				<div class='form-group'>
					<label for='eye_color'>Eye Color</label>
					<span ng-show='(form.eye_color.$touched && form.eye_color.$invalid) || (form.$submitted && form.eye_color.$invalid)' class='text-danger'>Required</span>
					<select name='eye_color' ng-model='eye_color' class='form-control input-sm' required>
						<option ng-repeat='eye_color in eye_colors.content' value='{{eye_color}}'>{{eye_color}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class='form-group'>
			<label for='physical_characteristics'>Other phyiscal characteristics</label>
			<textarea name='physical_characteristics' ng-model='physical_characteristics' class='form-control input-sm' maxlength='400' placeholder='Enter all unique physical traits of the subject. e.g.: Limps on left foot; Speech impediment; Lazy right eye; Bald; Wears glasses'></textarea>
		</div>

		 



		<div class='pull-right'>
			<button type='button' class='btn-sm btn-primary' ng-click='previousStep()'>Back</button>
			<button type='submit' class='btn-sm btn-primary' ng-click='nextStep(form.$valid)'>Continue</button>
		</div>
		<br><br>
	</form>
</body>