<!DOCTYPE html>
<head>
	<script type='text/javascript' src='//cdn.jsdelivr.net/livejs/4/live.js'></script>
	
</head>
<body >
	<h1 class='text-success'>Physical Characteristics</h1>
	<hr>
	<form name='form' novalidate in-view='refreshSlider()'>
		<div class='row'>
			<div class='col-xs-12 col-sm-6'>
				<div class='form-group'>
					<label for='race'>Race</label>
					<span ng-show='(form.race.$touched && form.race.$invalid) || (form.$submitted && form.race.$invalid)' class='text-danger'>Required</span>
					<select name='race' ng-model='race' class='form-control input-sm' required>
						<option ng-repeat='race in races.content' value='{{race}}'>{{race}}</option>
					</select>
				</div>
			</div>

			<div class='col-xs-12 col-sm-6'>
				<div class='form-group'>
					<label for='nationality'>Nationality</label>
					<span ng-show='(form.nationality.$touched && form.nationality.$invalid) || (form.$submitted && form.nationality.$invalid)' class='text-danger'>Required</span>
					<input type='text' name='nationality' ng-model='nationality' class='form-control input-sm' required>
				</div>
			</div>
		</div>

		<div class='row'>
			<div class='col-xs-12 col-sm-6'>
				<div class='form-group'>
					<label for='height'>Height</label>
						<rzslider rz-slider-model='height' rz-slider-options='height_slider.options' id='height_slider'></rzslider>
				</div>
			</div>

			<div class='col-xs-12 col-sm-6'>
				<div class='form-group'>
					<label for='weight'>Weight</label>
					<rzslider rz-slider-model='weight' rz-slider-options='weight_slider.options'></rzslider>
				</div>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-xs-12 col-sm-6'>
				<div class='form-group'>
					<label for='hair_color'>Hair Color</label>
					<span ng-show='(form.hair_color.$touched && form.hair_color.$invalid) || (form.$submitted && form.hair_color.$invalid)' class='text-danger'>Required</span>
					<select name='hair_color' ng-model='hair_color' class='form-control input-sm' required>
						<option ng-repeat='hair_color in hair_colors.content' value='{{hair_color}}'>{{hair_color}}</option>
					</select>
				</div>
			</div>	

			<div class='col-xs-12 col-sm-6'>
				<div class='form-group'>
					<label for='eye_color'>Eye Color</label>
					<span ng-show='(form.eye_color.$touched && form.eye_color.$invalid) || (form.$submitted && form.eye_color.$invalid)' class='text-danger'>Required</span>
					<select name='eye_color' ng-model='eye_color' class='form-control input-sm' required>
						<option ng-repeat='eye_color in eye_colors.content' value='{{eye_color}}'>{{eye_color}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class='form-group'>
			<label for='physical_characteristics'>Other phyiscal characteristics</label>
			<textarea name='physical_characteristics' ng-model='physical_characteristics' class='form-control input-sm' ></textarea>
		</div>

		 



		<div class='pull-right'>
			<button type='button' class='btn-sm btn-primary' wz-previous>Back</button>
			<button type='button' class='btn-sm btn-primary' ng-click='nextStep(form.$valid)'>Continue</button>
		</div>
		<br><br>
	</form>
</body>