<!DOCTYPE html>
<body>
	<div>
		<ul class="breadcrumb">
          <li><a href='#contributor'>Your information</a></li>
          <li><a href='#subject'>Subject information</a></li>
          <li><a href='#appearance'>Appearance</a></li>
          <li><a href='#warrants'>Warrants</a></li>
          <li><a href='#judgments'>Judgments</a></li>
          <li><a href='#criminal_history'>Criminal history</a></li>
          <li class='active'><b>Review & Submit</b></li>
	    </ul>
	</div>
	<h1 class='text-success'>Review & Submit</h1>
	<hr>

	<form name='form' novalidate>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h4>Your information</h4>
			</div>
		  	<div class='panel-body'>
		    	<div class='form-group'>
					<label for='entry_type'>Entry type</label>
					<input name='entry_type' ng-model='entry_type' class='form-control input-sm' readonly>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-12'>
				<p>By submitting you agree with <a href='#/terms' target='blank'>CUFF's Privacy & Usage Policy</a>.</p>
			</div>
		</div>
	</form>
	

	<br><br>

		<div class='pull-right'>
			<button type='button' class='btn-sm btn-primary' ng-click='previousStep()'>Back</button>
			<button type='button' class='btn-sm btn-primary' ng-click='submit()'>Submit</button>
		</div>
		<br><br>
	
</body>