<!DOCTYPE html>
<body>
	<div>
		<ul class="breadcrumb">
          <li><a href='#contributor'>Your information</a></li>
          <li><a href='#subject'>Subject information</a></li>
          <li><a href='#appearance'>Appearance</a></li>
          <li><a href='#warrants'>Warrants</a></li>
          <li><a href='#judgments'>Judgments</a></li>
          <li><a href='#criminal_history'>Criminal history</a></li>
          <li class='active'><b>Review & Submit</b></li>
	    </ul>
	</div>
	<h1 class='text-success'>Review & Submit</h1>
	<hr>

	<form name='form' novalidate>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h4>Your information</h4>
			</div>
		  	<div class='panel-body'>
		  		<h3>Section 1</h3>
				<label>Entry type<input ng-model='entry_type' class='form-control input-sm' readonly></label>
				<label>First name<input ng-model='first_name' class='form-control input-sm' readonly></label>
				<label>Last name<input ng-model='last_name' class='form-control input-sm' readonly></label>
				<label>Relationship to subject<input ng-model='relationship' class='form-control input-sm' readonly></label>
				<label>City<input ng-model='city' class='form-control input-sm' readonly></label>
				<label>State<input ng-model='state' class='form-control input-sm' readonly></label>
				<label>Zipcode<input ng-model='zipcode' class='form-control input-sm' readonly></label>
				<label>Phone number<input ng-model='phone_number' class='form-control input-sm' readonly></label>
				<label>Email address<input ng-model='email_address' class='form-control input-sm' readonly></label>
				<label>Preferred contact method<input ng-model='preferred_contact_method' class='form-control input-sm' readonly></label>
			</div>
			<div class='panel-body'>
				<h3>Section 2</h3>
				<label>Contact name<input ng-model='' class='form-control input-sm' readonly></label>
				<label>Organization<input ng-model='' class='form-control input-sm' readonly></label>
				<label>City<input ng-model='' class='form-control input-sm' readonly></label>
				<label>State<input ng-model='' class='form-control input-sm' readonly></label>
				<label>Phone number<input ng-model='' class='form-control input-sm' readonly></label>
				<label>Email address<input ng-model='' class='form-control input-sm' readonly></label>
			</div>
		</div>
		
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h4>Subject Information</h4>
			</div>
		  	<div class='panel-body'>
		  		<h3>Section 1</h3>
				<label>Entry type<input ng-model='entry_type' class='form-control input-sm' readonly></label>
				<label>First name<input ng-model='first_name' class='form-control input-sm' readonly></label>
				<label>Last name<input ng-model='last_name' class='form-control input-sm' readonly></label>
				<label>Relationship to subject<input ng-model='relationship' class='form-control input-sm' readonly></label>
				<label>City<input ng-model='city' class='form-control input-sm' readonly></label>
				<label>State<input ng-model='state' class='form-control input-sm' readonly></label>
				<label>Zipcode<input ng-model='zipcode' class='form-control input-sm' readonly></label>
				<label>Phone number<input ng-model='phone_number' class='form-control input-sm' readonly></label>
				<label>Email address<input ng-model='email_address' class='form-control input-sm' readonly></label>
				<label>Preferred contact method<input ng-model='preferred_contact_method' class='form-control input-sm' readonly></label>
			</div>
		</div>
		
		
		
		
		
		<div class='row'>
			<div class='col-xs-12'>
				<p>By submitting you agree with <a href='#/terms' target='blank'>CUFF's Privacy & Usage Policy</a>.</p>
			</div>
		</div>
	</form>
	

	<br><br>

		<div class='pull-right'>
			<button type='button' class='btn-sm btn-primary' ng-click='previousStep()'>Back</button>
			<button type='button' class='btn-sm btn-primary' ng-click='submit()'>Submit</button>
		</div>
		<br><br>
	
</body>