<!DOCTYPE html>
<body>
	<div class='row'>
		<div class='col-xs-12'>
			
     <h1>CUFF PRIVACY & USER POLICY</h1>
     <p>Straightshooter.net is the official Website of Citizens United to Find Fugitives (CUFF).</p>

	<p>CUFF is committed to protecting your privacy.  We do not sell, trade, rent or otherwise transfer your personal information to others.  We may release customer information, when necessary, to comply with state and federal laws only.</p>

	<p>The personal information you provide when you Submit A Fugitive allows us to process your entry and maintain in-house records relating to your entry.  Neither your personal information nor the unpublished information about your subject will be offered to anyone other than CUFF personnel without your authorization.</p>  

	<p>We track user traffic patterns in order to find ways to improve the site and simplify the search and entry process.  We track only the number of customers who view a page not what individual users read.</p>  

	<p>CUFF is not responsible for the content of any off-sites that are referenced by or that reference to CUFF.  The user acknowledges that the CUFF Web site is not liable for any offensive, misleading, defamatory or illegal conduct by other users, links or third parties.</p>  

	<p>Links from the CUFF Website to other sites or from other sites to CUFF do not constitute an endorsement by CUFF.   The links from CUFF are provided for convenience of information only.  The user accepts the responsibility of assessing the value of their content.</p>

	<p>CUFF verifies, when appropriate, information provided by a Contributor.  All legal data is verified before publishing it in our database.  While CUFF believes the information provided on the site and in the database to be accurate and reliable, human or mechanical error in transmission remains a possibility.   CUFF is not liable for any errors or omissions or for any special or consequential damages resulting from inaccuracies.  The user is encouraged to e-mail or call CUFF immediately if inaccuracies are uncovered in any data.  We guarantee immediate attention to such information.</p> 

	<p>CUFF is providing this information as a benefit to the community.  We are not responsible for the use or results obtained from the use of this information.  All legal information provided is based on personal experiences with the Small Claims Court systems in a variety of states.  No legal advice is being offered or is implied.  All information is provided as a community service to inform citizens of the rights and procedures available to them within the U.S. Criminal Justice System.  This information is available upon request at Small Claims Courts in almost every county in the U.S.  CUFF recommends that a competent attorney be contacted if further legal information is required by the plaintiff.  CUFF personnel are not attorneys and cannot give legal advice.</p> 

	<p>By using this site, you agree to all of the above conditions.  If you disagree with any of the conditions, please do not use this site.   The CUFF Privacy & User Policy is subject to change without notice.  Your continued use of this site following the posting of changes to these terms signifies your acceptance of those changes.</p>

	<p>
	All rights are reserved by Citizens United to Find Fugitives (CUFF)<br>
	Citizens United to Find Fugitives (CUFF)<br>
	www.straightshooter.net<br>
	mail@straightshooter.ne<br>
	</p>



		</div>
	</div>

</body>